<div>
  Arrow!
  <script>
    console.log(2);
    /* Test fuck */
    console.log(1);
    /* 
      Test 
      fuck 
    */
    console.log(2);
  </script>
  <h2>Test1!</h2>
  <p><span>Test</span></p>
</div>
